:root {
    --md-sys-color-primary: #006A6A;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #6FF7F6;
    --md-sys-color-on-primary-container: #002020;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header i {
    font-size: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #000;
}

footer {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Estilo para o menu lateral */
#sideMenu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: left 0.3s ease;
}

#sideMenu a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

#sideMenu a:hover {
    background-color: #555;
}

#sideMenu.open {
    left: 0;
}

/* Estilo para os botões de mudança de tema */
#themeButtons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#themeButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

#themeButtons button:hover {
    background-color: #0056b3;
}
